* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Garamond;
    
}


nav {
    display: flex;
    padding: 1rem;
    background-color: lightgrey;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

h1 {
    font-size: 4rem;

}

p1 {
    font-size: x-large;
}

h2 {
    font-size: xx-large;
}

.Hero {
    background: url("./images/Virginia\ Skyline.jpg") no-repeat fixed center;
    background-color: aliceblue;
    min-height: 30rem;
    position: relative;
    background-position: center;
    background-size: cover;
    

}

.Introduction {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 20rem;
    align-items: center;
    top: 4rem;
    right: 13rem;
    
}


.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3399ff;
    min-height: 25rem;
    padding-top: 1rem;
}

.Information {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    margin: 1rem;
    font-size: larger;
    padding-right: 2rem;

}

.Summary {
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: thin;
    max-width: 45rem;
}

.Projects {
    display: flex;
    max-height: 25rem;
    background-color: #3399ff;
    position:absolute;
    flex-direction: column;
    align-items: center;

}



.Project-Boxes {
    display: flex;
    padding: 4rem;
    gap: 7rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    font-size: large;

}

.Project-One {
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;

}

.Project-Two {
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
}

.Project-Three {
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
}

.Project-Four, .Project-Five, .Project-Six, .Project-Seven, .Project-Eight {
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 2rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
}

.Contact {
    max-height: 20rem;
    position: absolute;
    background-color: #3399ff;
}

.Contact-Details {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-right: 5rem;

}
