* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

nav {
    display: flex;
    padding: 1rem;
    background-color: grey;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

h1 {
    color:blue
}