* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Garamond;
    background-color: #3399ff;
}


nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: lightgrey;
    max-height: 4rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

h1 {
    font-size: 4rem;

}

p1 {
    font-size: x-large;
}

h2 {
    font-size: xx-large;
}

.Hero {
    background: url("./images/Virginia\ Skyline.jpg") no-repeat fixed center;
    background-color: aliceblue;
    min-height: 30rem;
    position: relative;
    background-position: center;
    background-size: cover;
    

}

.Introduction {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 20rem;
    align-items: center;
    top: 4rem;
    right: 13rem;
    
}

h3 {
    font-size: x-large;
    
}


.profile-image {
    image-rendering: auto;
    height: 30rem;
    width: auto;
    padding-left: 13rem;
    padding-top: 1rem;
    
}

.About {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    padding-top: 1rem;
}

.Information {
    display: flex;
    flex-direction: row;
    gap: 12rem;
    margin: 1rem;
    font-size: x-large;
    padding-right: 7rem;
    

}

.Summary {
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: thin;
    max-width: 45rem;
    padding: 2rem;
}

.Projects {
    /* display: flex; 
    /* max-height: 50rem; */
    /*flex-direction: row; */
    /* align-items: center; */

}



.Project-Boxes {
    display: flex;
    padding: 4rem;
    gap: 7rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: medium;
    

}

.project-images {
    image-rendering: auto;
    height: 100px;
    width: 100px;

}

.Project-One {
    border-radius: 2px;
    border-style: solid;
    padding: 2rem 4rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
    background-color: lightgray; 
    

}

.Project-Two {
    border-radius: 2px;
    border-style: solid;
    padding: 2rem 4rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
    background-color: lightgray; 
} 

.Project-Three {
    border-radius: 2px;
    border-style: solid;
    padding: 2rem 4rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
    background-color: lightgray;
}

.Project-Four, .Project-Five, .Project-Six, .Project-Seven, .Project-Eight {
    border-radius: 2px;
    border-style: solid;
    padding: 1rem 4rem;
    display: grid;
    place-content: center;
    text-align:center;
    width: 14rem;
    height: 14rem;
    gap: 3rem;
    background-color: lightgray; 
    
} 

p2 {
    font-style: italic;
}

.Contact {
    max-height: 20rem;
    /* position: absolute; */

}

.Contact-Details {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-right: 5rem;

}
